DEBUG=true
SECRET_KEY=django-insecure-zmien-ten-klucz
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=serwis_db
POSTGRES_USER=serwis_user
POSTGRES_PASSWORD=serwis_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
