{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_list %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <li>
      <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">Dodaj usługę</a>
    </li>
  {% endif %}
{% endblock %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.show_admin_actions %}
    <div class="actions service-delete-action">
      <input type="hidden" name="action" value="delete_selected">
      <input type="hidden" name="select_across" value="0">
      <button type="submit" class="button" name="index" value="0">Usuń zaznaczone</button>
    </div>
  {% endif %}
  {% result_list cl %}
  {% if action_form and actions_on_bottom and cl.show_admin_actions %}
    <div class="actions service-delete-action service-delete-action--bottom">
      <input type="hidden" name="action" value="delete_selected">
      <input type="hidden" name="select_across" value="0">
      <button type="submit" class="button" name="index" value="0">Usuń zaznaczone</button>
    </div>
  {% endif %}
{% endblock %}
